/*
	reset.css — Reset completo e limpo
	- Remove margens/paddings padrão
	- Define box-sizing: border-box
	- Normaliza listas, imagens, tabelas e formulários
	- Mantém regras de acessibilidade

	Não precisa lembrar disso tudo na hora de fazer seu projeto.
	Pode copiar e colar isso em um arquivo seu. Mas antes, entenda o que está acontecendo!
*/

@import url('_variables.css');

body { text-rendering: optimizeLegibility; }
*::before, *::after { box-sizing: border-box; }

* {
	color: inherit;
	font-family: var(--font-main);

	list-style-type: none;
	text-decoration: none;
	
	margin: 0;
	padding: 0;
}

button { cursor: pointer; }

/* Remove controles indesejados em alguns browsers */
input::-ms-clear, input::-ms-reveal { display: none; }
