/*
    Aqui você importa todos os estilos de outras páginas. Como assim?
    
    Caso você tenha um projeto com diversas páginas .html (sobre.html, contato.html, login.html, etc), cada uma delas, muitas vezes, precisa de um estilo muito específico (uma interação apenas daquela página, um botão com cor diferente, etc).
    
    Com isso, para uma melhor organização, dentro da sua pasta styles, você criaria uma pasta que armazene os estilos específicos de cada página .html que você tem, como especificado ao lado, o pages!

    No documento STRUCTURE.md você vai entender melhor o que cada pasta armazena e o que cada arquivo pode conter!


    Assim, o main.css fica responsável apenas por ser o importador dos arquivos para cá. Mas porque isso? A questão principal seria: muitos estilos em um único arquivo!

    Modularização e flexibilidade no seu código é importante, principalmente a legibilidade, tanto para você quanto para sua equipe!
*/

@import url('reset/reset.css');

:root {
    /* VARIAVEIS DE TAMANHO */
    --size-small: .5em;
    --size-medium: 1em;
    --size-large: 2em;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: var(--size-medium);
}
header .logo-project {
    width: 3em;
    height: 3em;
}
@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
    }
    ul li {
        padding: var(--size-small);
        margin-right: var(--size-medium);
    }
}

main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    min-height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
}

main .mock-section {
    text-align: center;
}